<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Generator</title>
    <link rel="stylesheet" href="/static/css/passgene.css">
</head>
<body>
    <header>
        <nav>
            <h1>Password Generator</h1>
        </nav>
    </header>
    <main>
        <div class="container">
            <p>Your Strong Password is: <span id="passwordDisplay">{{pswdgen}}</span></p>
            <button id="backButton"><a href="/passgen">BACK</a></button>

        </div>
    </main>
    <script src="/static/js/passgen.js"></script>
</body>
</html>
